server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/filestorage
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

aws:
  region: ap-south-2
  s3:
    bucket-name: filehub-s3-bucket

storage:
  type: S3

## to be used when using s3 cloud storage
